.gift-create .wrapper,
.gift-update .wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-height: 100vh;
}

#gift-create-form,
#gift-update-form {
    display: flex;
    gap: 20px;
}

#gift-create-form #gift-image-label,
#gift-update-form #gift-image-label {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 235px;
    width: 199px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

#gift-create-form #gift-image-label {
    background-color: var(--outline-and-border-color);
}

#gift-update-form #gift-image-label {
    background-image: url("../images/mug-image.png");
}

#gift-create-form input[type="file"],
#gift-update-form input[type="file"] {
    display: none;
}

.form-column-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-column-content label {
    padding-left: 10px;
}

.price-container {
    display: flex;
    align-items: end;
    gap: 20px;
}

.currency-select {
    height: 50px;
    width: 60px;
}

@media(max-width: 768px) {
    #gift-create-form,
    #gift-update-form {
        flex-direction: column;
    }

    .price-container {
        display: flex;
        gap: 10px;
    }

    .price-container .form-field {
        flex: 1;
    }

    input[type="text"] {
        width: 100%;
    }

    .button {
        align-self: center;
    }
}

@media(max-width: 360px) {
    .image-upload-container {
        display: flex;
        justify-content: center;
    }
}