.notifications .wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-height: 100vh;
}

.notifications-content .tab-content.active {
    display: flex;
    flex-direction: column;
    gap: 20px;
} 

.notifications-header {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.notification {
    display: flex;
    gap: 20px;
    max-width: 793px;
}

.notification.box {
    padding: 10px;
}

.notification.box img {
    width: 86px;
    height: auto;
}

.notification-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.notification-text-info {
    display: flex;
    flex-direction: column;
    gap: 3px;
}