@font-face {
  font-family: GeistRegular;
  src: url("../fonts/Geist-Regular.otf");
}

@font-face {
  font-family: GeistSemiBold;
  src: url("../fonts/Geist-SemiBold.otf");
}

@font-face {
  font-family: Manrope;
  src: url("../fonts/Manrope.ttf");
}

@font-face {
  font-family: CherryBomb;
  src: url("../fonts/CherryBombOne-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1920px;
}

header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 19px;
    padding-bottom: 32px;
}

.wrapper {
    max-width: 1200px;
    margin: auto;
}

nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

a {
    text-decoration: none;
    color: black;
    font-family: GeistRegular;
    font-size: 16px;
}

h1 {
    font-family: CherryBomb;
    font-size: 128px;
}

p {
    font-family: GeistRegular;
    font-size: 16px;
}

#login-link {
    border: 1px solid #544388;
}

#signup-link,
#wishlist-create-link {
    background-color: #FFCF68;
}

#login-link,
#signup-link,
#wishlist-create-link  {
    padding: 15px 30px;
    border-radius: 50px;
}

.theme-change-button {
    border: none;
    background-color: transparent;
}

#main-screen {
    background-color: #544388;
    background-repeat: no-repeat;
}

#main-screen .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 250px;
    padding-bottom: 300px;
}

#main-screen-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#main-screen-content-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

#wishlists .wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 70px;
    padding-bottom: 100px;
}

#wishlists-header {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

#wishlists h1 {
    font-family: Manrope;
    font-style: bold;
    font-size: 40px;
}

#wishlists-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#wishlists-sort {
    display: flex;
    gap: 5px;
}

.wishlists-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    column-gap: 20px;
}

.wishlist {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 386px;
    padding: 20px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.35);
    border-radius: 20px;
}

.wishlist-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.wishlist-header {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.wishlist-header h4 {
    font-family: Manrope;
    font-size: 20px;
}

.wishlist-header p {
    color: #544388;
}

.wishlist-description {
    color: #888888;
}

.wishlist-items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.wishlist-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
    border-radius: 20px;
    width: 102px;
    height: 102px;
}

footer {
    background-color: #544388;
}

footer .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0;
    color: white;
}