@font-face {
  font-family: Geist;
  src: url("../fonts/Geist[wght].woff2");
}

@font-face {
  font-family: Manrope;
  src: url("../fonts/Manrope.ttf");
}

@font-face {
  font-family: CherryBomb;
  src: url("../fonts/CherryBombOne-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1920px;
    min-height: 1080px;
}

main {
    background-color: #F7F7F7;
}

a {
    text-decoration: none;
    color: black;
    font-family: Geist;
    font-size: 16px;
}

h1 {
    font-family: Manrope;
    font-style: bold;
    font-size: 40px;
}

p {
    font-family: Geist;
    font-size: 16px;
}

label {
    font-family: Geist;
    font-size: 16px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
    border-radius: 10px;
    border-color: #544388;
    border-width: 1px;
    outline: none;
    height: 50px;
    padding: 10px 15px;
    width: 340px;
}

input[type="radio"],
input[type="checkbox"] {
    accent-color: #544388;
}

textarea {
    resize: none;
    border-radius: 10px;
    border-color: #544388;
    border-width: 1px;
    outline: none;
    padding: 10px 15px;
}

button {
    font-family: Geist;
    font-size: 16px;
    width: fit-content;
    border: none;
    background: none;
}

button:hover {
    cursor: pointer;
}

.wrapper {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding-top: 70px;
    padding-bottom: 100px;
}

nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

h4 {
    font-family: Manrope;
    font-size: 20px;
    font-weight: 600;
}

select {
    background-color: #FFF;
    padding: 4px 10px;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    font-family: Geist;
    font-size: 16px;
}

select:hover {
    cursor: pointer;
}

option {
    font-family: sans-serif;
}

.container {
    background-color: #FFF;
    border-radius: 20px;
    padding: 20px;
}

.yellow-button {
    background-color: #FFCF68;
    color: #000;
    border-radius: 50px;
    padding: 15px 30px;
}

.purple-button {
    background-color: #544388;
    color: #FFF;
    border-radius: 50px;
    padding: 15px 30px;
}

.purple-border-button {
    background-color: #FFF;
    color: #000;
    border: 1px solid #544388;;
    border-radius: 50px;
    padding: 15px 30px;
}

.red-button {
    background-color: #A34C4C;
    color: #FFF;
    border-radius: 50px;
    padding: 15px 30px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
}

header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 0;
}

.header-left {
    flex: 1;
}

.header-center {
    flex: 0;
}

.header-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

#save-button {
    background-color: #FFCF68;
}

#save-button {
    padding: 15px 30px;
    border-radius: 50px;
}

#main-screen {
    background-image: url('../images/background-image.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#main-screen h1 {
    font-family: CherryBomb;
    font-size: 128px;
}

#main-screen .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 250px;
    padding-bottom: 250px;
}

#main-screen-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#main-screen-content-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

#site-info .wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#site-info-header {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#site-info-header h2 {
    font-family: Manrope;
    font-style: bold;
    font-size: 40px; 
}

#site-info-header p {
    max-width: 762px;
    text-align: justify;
}

#site-info-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#site-info .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    width: 324px;
}

#site-info .container img {
    height: 250px;
}

#wishlists .wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    min-height: 100vh;
}

#wishlists-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#wishlists h1 {
    font-family: Manrope;
    font-style: bold;
    font-size: 40px;
}

#wishlists-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#wishlists-sort {
    display: flex;
    align-items: center;
    gap: 5px;
}

.wishlists-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    column-gap: 20px;
}

.wishlist {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 386px;
}

.wishlist-info {
    display: flex;
    flex-direction: column;
}

.wishlist-header {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.wishlist-header p {
    color: #544388;
}

.wishlist-description {
    color: #888888;
}

.wishlist-items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.wishlist-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
    border-radius: 20px;
    width: 102px;
    height: 102px;
}

#register, #login {
    padding-top: 70px;
    padding-bottom: 100px;
}

#register .wrapper, #login .wrapper {
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

#register .container, #login .container {
    padding: 0;
}

.authentication-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    max-width: 600px;
    padding: 0 130px;
}

.authentication-image {
    width: 600px;
    height: 659px;
    border-radius: 20px;
    background-image: url("../images/background-image.png");
    background-position: -100px;
    background-size: cover;
}

#authentication-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#authentication-form-container a {
    color: #544388;
}

#authentication-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#authentication-form input {
    width: 340px;
}

#authentication-form label {
    padding-left: 10px;
}

#wishlist-detail .wrapper, #not-owner-wishlist-detail .wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-height: 100vh;
}

#not-owner-wishlist-detail #wishlist-header-top {
    flex-direction: column;
    align-items: start;
}

#wishlist-owner {
    display: flex;
    align-items: center;
    gap: 10px;
}

#wishlist-owner img {
    width: 50px;
}

.reserve-gift-button {
    padding: 15px 0;
    width: 205px;
    height: 51px;
}

#wishlist-header {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#wishlist-header-top {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

#wishlist-header-top-right {
    display: flex;
    gap: 20px;
    align-items: center;
}

#wishlist-header-top-right button {
    padding: 0;
}

#wishlist-header-middle {
    display: flex;
    gap: 5px;
    align-items: center;
}

#wishlist-date {
    font-size: 20px;
    font-weight: 600;
    color: #544388;
}

#days-left-counter {
    color: black;
    background-color: #FFCF68;
    padding: 0 15px;
    border-radius: 50px;
}

#wishlist-description {
    max-width: 736px;
    text-align: justify;
}

#wishlist-header-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#reserved-gifts-counter {
    display: flex;
    gap: 5px;
    align-items: end;
    align-self: flex-end;
}

#wishlist-detail-content {
    display: flex;
    justify-content: space-between;
}

#wishlist-container {
    display: flex;
    gap: 20px;
}

#wishlist-filter-choices {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#wishlist-sort-filter {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 272px;
    height: fit-content;
    padding: 20px;
}

#wishlist-sort,
#wishlist-filter {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#wishlist-sort p,
#wishlist-filter p {
    font-family: Manrope;
    font-weight: 600;
    font-size: 20px;
}

.wishlist-filter-choice {
    display: flex;
    align-items: center;
    gap: 10px;
}

#gifts-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 908px;
    gap: 20px;
}

#gifts-container .container {
    padding: 0;
}

.priority-gift-container,
.gift-container {
    display: flex;
    width: 444px;
    height: 234px;
}

.priority-gift-container {
    box-shadow: 0px 0px 20px rgb(255, 207, 104, 0.7);
}

.gift-description-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    width: 245px;
}

.gift-description {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.gift-description-header {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.gift-description button {
    padding: 0;
}

.gift-description-price {
    font-weight: 600;
    color: #544388;
}

.gift-description-comment {
    display: flex;
    gap: 6px;
    color: #888888;
}

.gift-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 199px;
    height: 234px;
    background-color: #D9D9D9;
    border-radius: 20px;
}

.gift-image img {
    height: 70px;
}

.pagination {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
}

.pagination-link,
.pagination-current {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    color: #544388;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
}

.pagination-link {
    background-color: #FFF;
}

.pagination-link:hover {
    background-color: #D9D9D9;
    color: #544388;
}

.pagination-current,
.pagination-current:hover {
    background-color: #544388;
    color: white;
    border-color: #544388;
}

.pagination-disabled,
.pagination-disabled:hover {
    color: #D9D9D9;
    background-color: transparent;
    cursor: default;
}

.form-fields {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-field {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

#wishlist-creation-form,
#gift-creation-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#wishlist-creation-form-container,
#gift-creation-form-container {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}

#wishlist-create .wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#wishlist-creation-form-top,
#wishlist-creation-form-middle,
#wishlist-creation-form-bottom {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#wishlist-creation-form-top label {
    padding-left: 10px;
}

#wishlist-creation-form-middle > div {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

#wishlist-creation-form-bottom > div {
    display: flex;
    align-items: center;
    gap: 10px;
}

#form-fields-top {
    display: flex;
    gap: 20px;
}

#form-fields-top input {
    display: flex;
    gap: 20px;
}

#form-fields-bottom {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

#form-fields-bottom {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

#form-fields-bottom textarea {
    width: 700px;
    height: 130px;
}

#save-button {
    width: fit-content;
}

#gift-creation-form #gift-image-label {
    display: block;
    background-color: #D9D9D9;
    height: 235px;
    width: 199px;
    border-radius: 20px;
    background-image: url("../images/add-photo-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

#gift-creation-form label {
    padding-left: 10px;
}

#gift-creation-form-top {
    display: flex;
    gap: 20px;
}

#gift-creation-form-bottom .form-field {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

#gift-creation-form-bottom .form-field textarea {
    width: 560px;
    height: 100px;
}

#profile .wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#profile-content {
    display: flex;
    gap: 20px;
}

#account-container .profile-picture {
    width: 340px;
    height: 340px;
}

#profile-image-label {
    color: #544388;
}

#profile-image-label:hover {
    cursor: pointer;
}

#profile-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#profile-form .form-field label {
    padding-left: 10px;
}

#profile-form input[type="file"] {
    display: none;
}

#account-delete-button {
    color: #A34C4C;
}

#notifications-container {
    width: 800px;
    display: flex;
    flex-direction: column;
}

#empty-notifications {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1; 
    gap: 10px;
}

#friend-list .wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    min-height: 100vh;
}

#friend-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#friend-list-items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.friend-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 386px;
}

.friend-info {
    display: flex;
    align-items: center;
    gap: 20px;
}

#user-wishlists .wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    min-height: 100vh;
}

#user-wishlists #wishlists-content {
    gap: 10px;
}

#user-wishlists-header {
    display: flex;
    align-items: center;
    gap: 20px;
}

#user-wishlists-header img {
    width: 200px;
    height: 200px;
}

#user-wishlists-header-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#reserved-gifts .wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    min-height: 100vh;
}

#reserved-gifts-content {
    display: flex;
    gap: 20px;
}

#reserved-gifts .gift-image {
    position: relative;
}

.gift-wishlist-info {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: 20px;
    padding: 10px;
    background-color: #FFF;
    border-radius: 20px;
}

.gift-wishlist-info img {
    width: 30px;
    height: 30px;
}

.gift-wishlist-info h6 {
    font-family: Manrope;
    font-size: 10px;
    font-weight: 600;
}

.gift-wishlist-info p {
    color: #544388;
    font-size: 10px;
}

.buttons-container {
    display: flex;
    gap: 9px;
}

.buttons-container button {
    padding: 15px 20px;
}

footer {
    background-color: #544388;
}

footer .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0;
    color: white;
}