@font-face {
  font-family: Geist;
  src: url("../fonts/Geist[wght].woff2");
}

@font-face {
  font-family: Manrope;
  src: url("../fonts/Manrope.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1920px;
    min-height: 1080px;
    font-family: Geist, sans-serif;
    font-size: 16px;
}

main {
    background-color: #F7F7F7;
}

a {
    text-decoration: none;
    color: black;
    font-family: Geist;
    font-size: 1rem;
}

h1, h2, h3, h4 {
    font-family: Manrope;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

h2 {
    font-size: 2rem; 
    font-weight: 700;
}

h3 {
    font-size: 1.25rem;
    font-weight: 600;
}

h4 {
    font-size: 0.625rem;
    font-weight: 600;
}

p {
    font-size: 1rem;
}

button {
    border: none;
    text-decoration: none;
    background: none;
    cursor: pointer;
    width: fit-content;
    font-family: inherit;
}

label {
    font-size: 1rem;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
textarea {
    border-radius: 10px;
    border: 1px solid #C5C1D2;
    outline: none;
    padding: 10px 15px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
    height: 50px;
    width: 340px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
textarea:focus {
    border-color: #544388;
}

textarea {
    resize: none;
}

input[type="radio"],
input[type="checkbox"] {
    accent-color: #544388;
}

select {
    background-color: #FFF;
    padding: 4px 10px;
    border: 1px solid #C5C1D2;
    border-radius: 10px;
    font-size: 1rem;
}

select:hover {
    cursor: pointer;
}

.wrapper {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding-top: 70px;
    padding-bottom: 100px;
}

.box {
    background-color: #FFF;
    border-radius: 20px;
    outline: 1px solid #C5C1D2;
    padding: 20px;
}

.button {
    font-size: 1rem;
    padding: 15px 30px;
    border-radius: 50px;
}

.button-yellow {
    background-color: #FFCF68;
    color: #000;
}

.button-yellow:hover {
    background-color: #EFB537;
    color: #000;
}

.button-purple {
    background-color: #544388;
    color: #FFF;
}

.button-purple:hover {
    background-color: #3C2A71;
}

.button-purple-border {
    background-color: #FFF;
    color: #000;
    border: 1px solid #544388;
}

.button-purple-border:hover {
    background-color: #544388;
    color: #FFF;
}

.button-red {
    background-color: #C34D4D;
    color: #FFF;
}

.button-red:hover {
    background-color: #9E2D2D;
    color: #FFF;
}

.button-icon:hover {
    transform: scale(1.1);
    transition: 100ms;
}

.text-accent {
    color: #544388;
    font-weight: 600;
}

.text-danger {
    color: #C34D4D;
    font-weight: 600;
}

.text-highlight {
    color: black;
    background-color: #FFCF68;
    padding: 0 15px;
    border-radius: 50px;
    width: fit-content;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    border-bottom: 1px solid #C5C1D2;
}

header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.menu {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-controls {
    display: flex;
    align-items: center;
    gap: 20px;
}

.main-screen {
    background-image: url('../images/background-image.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.main-screen .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 325px;
    padding-bottom: 310px;
}

.main-screen-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.main-screen-content h1 {
    text-align: center;
    color: white;
    max-width: 900px;
}

.site-info .wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.site-info-header {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.site-info-header p {
    max-width: 762px;
    text-align: justify;
}

.site-info-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-info .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    width: 324px;
}

.site-info .box img {
    height: 250px;
}

.wishlists .wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    min-height: 100vh;
}

.wishlists-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wishlists-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.wishlists-sort {
    display: flex;
    align-items: center;
    gap: 5px;
}

.wishlists-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    column-gap: 20px;
}

.wishlist {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 386px;
}

.wishlist-info {
    display: flex;
    flex-direction: column;
}

.wishlist-header {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.wishlist-items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.wishlist-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C5C1D2;
    border-radius: 20px;
    width: 102px;
    height: 102px;
}

.pagination {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
}

.pagination-link,
.pagination-current {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    color: #000;
    border: 1px solid #C5C1D2;
    border-radius: 10px;
}

.pagination-link {
    background-color: #FFF;
}

.pagination-link:hover {
    background-color: #B4A6DE;
    border: none;
}

.pagination-current,
.pagination-current:hover {
    background-color: #544388;
    color: white;
    border-color: #544388;
}

.pagination-disabled,
.pagination-disabled:hover {
    color: #D9D9D9;
    background-color: transparent;
    cursor: default;
    border: 1px solid #C5C1D2;
}

.register, .login {
    min-height: 100vh;
}

.register .box, .login .box {
    display: flex;
    align-items: center;
    padding: 0;
}

.authentication-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    max-width: 600px;
    padding: 0 130px;
}

.authentication-image-container {
    width: 600px;
    height: 625px;
    border-radius: 20px;
    overflow: hidden;
}

.authentication-image-container img {
    width: 100%;
    height: 100%;
}

.authentication-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#register-form, #login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.authentication-form input {
    width: 340px;
}

.authentication-form-container label {
    padding-left: 10px;
}

.wishlist-page .wrapper, .not-owner-wishlist-detail .wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-height: 100vh;
}

.not-owner-wishlist-detail {
    flex-direction: column;
    align-items: start;
}

.wishlist-owner {
    display: flex;
    align-items: center;
    gap: 10px;
}

.wishlist-owner img {
    width: 50px;
}

.reserve-gift-button {
    padding: 15px 0;
    width: 205px;
    height: 51px;
}

.wishlist-page-header {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.wishlist-page-header-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.wishlist-actions {
    display: flex;
    gap: 20px;
    align-items: center;
}

.wishlist-date-info {
    display: flex;
    gap: 5px;
    align-items: center;
}

.wishlist-date {
    font-size: 20px;
    font-weight: 600;
}

.wishlist-description {
    max-width: 736px;
    text-align: justify;
}

.wishlist-summary {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.wishlist-summary-actions {
    display: flex;
    align-items: end;
    align-self: flex-end;
    gap: 20px;
}

.reserved-gifts-counter {
    display: flex;
    gap: 5px;
    align-items: end;
    align-self: flex-end;
}

.wishlist-content {
    display: flex;
    justify-content: space-between;
}

.wishlist-gifts, 
.reserved-gifts {
    display: flex;
    gap: 20px;
}

.wishlist-filter-choices {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.wishlist-controls {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 272px;
    height: fit-content;
    padding: 20px;
}

.wishlist-sort,
.wishlist-filter {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.wishlist-sort p,
.wishlist-filter p {
    font-family: Manrope;
    font-weight: 600;
    font-size: 20px;
}

.wishlist-filter-choice {
    display: flex;
    align-items: center;
    gap: 10px;
}

.gifts-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 908px;
    gap: 20px;
}

.gifts-container > .box {
    padding: 0;
}

.gift {
    display: flex;
    width: 444px;
    min-height: 234px;
}

.gift-priority {
    box-shadow: 0px 0px 10px 3px rgb(255, 207, 104, 0.7);
}

.gift-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    padding: 20px;
    width: 245px;
}

.gift-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.gift-header {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.gift-header-actions {
    display: flex;
    gap: 13px;
    align-items: end;
}

.gift-description-header h3 {
    max-width: 160px;
}

.gift-description button {
    padding: 0;
}

.gift-comment {
    display: flex;
    gap: 6px;
    color: #888888;
}

.gift-image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 199px;
    background-color: #C5C1D2;
    border-radius: 20px;
}

.gift-image img {
    height: 70px;
}

.gift-actions {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.gift-actions .button {
    width: 205px;
}

.form-fields {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-field {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

#wishlist-create-form,
#wishlist-update-form,
#gift-create-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.wishlist-form-container,
.gift-form-container {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}

.wishlist-create .wrapper,
.wishlist-update .wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.wishlist-form-info,
.wishlist-form-settings,
.wishlist-form-notifications {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.wishlist-form-info label {
    padding-left: 10px;
}

.wishlist-form-settings > div {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.wishlist-form-notifications > div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.reserved-gifts-display-choice, 
.wishlist-visibility-choice {
    display: flex;
    align-items: center;
    gap: 10px;
}

.form-fields-main {
    display: flex;
    gap: 20px;
}

.form-fields-main input {
    display: flex;
    gap: 20px;
}

.form-fields-description {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.form-fields-description {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.form-fields-description textarea {
    width: 700px;
    height: 90px;
}

#gift-create-form #gift-image-label {
    display: block;
    background-color: #D9D9D9;
    height: 235px;
    width: 199px;
    border-radius: 20px;
    background-image: url("../images/add-photo-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

#gift-creation-form label {
    padding-left: 10px;
}

#gift-creation-form-top {
    display: flex;
    gap: 20px;
}

#gift-creation-form-bottom .form-field {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

#gift-creation-form-bottom .form-field textarea {
    width: 560px;
    height: 100px;
}

.profile .wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.profile-content {
    display: flex;
    gap: 20px;
}

.account-info .profile-picture {
    width: 340px;
    height: 340px;
}

.friend-list .wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-height: 100vh;
}

.friend-list-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
}

.tabs {
  display: flex;
  gap: 20px;
}

.tabs-toggle {
  display: none;
}

.friend-list-content .tab-content {
  display: none;
}

#tab-my-friends:checked ~ .friend-list-content #tab-content-my-friends,
#tab-friend-requests:checked ~ .friend-list-content #tab-content-friend-requests {
  display: block;
}

.tabs label {
  padding: 15px 30px;
  cursor: pointer;
  border: 1px solid #C5C1D2;
  border-radius: 10px;
  background-color: #FFF;
}

#tab-my-friends:checked ~ .friend-list-header .tabs label[for="tab-my-friends"],
#tab-friend-requests:checked ~ .friend-list-header .tabs label[for="tab-friend-requests"] {
  background-color: #544388;
  color: #FFF;
  border-color: #544388;
  cursor: default;
}

.friend-list-header-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.friend-list-items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.friend-list-items .box {
    padding: 10px;
}

.friend-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 386px;
}

.friend-info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.user-wishlists {
    min-height: 100vh;
}

.user-wishlists .wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    min-height: 100vh;
}

.wishlists-content {
    gap: 20px;
}

.wishlists-owner {
    display: flex;
    align-items: center;
    gap: 20px;
}

.wishlists-owner img {
    width: 200px;
    height: 200px;
}

.wishlists-owner-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.reserved-gifts .wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    min-height: 100vh;
}

.gift-wishlist-info {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: 20px;
    padding: 10px 20px;
    background-color: #FFF;
    border-radius: 20px;
}

.gift-wishlist-info img {
    width: 30px;
    height: 30px;
}

.gift-wishlist-info h6 {
    font-family: Manrope;
    font-size: 10px;
    font-weight: 600;
}

.gift-wishlist-info p {
    color: #544388;
    font-size: 10px;
}

.buttons-container {
    display: flex;
    gap: 9px;
}

.buttons-container button {
    padding: 15px 20px;
}

footer {
    background-color: #544388;
}

footer .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0;
    color: white;
}