#wishlist-create-form,
#wishlist-update-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.wishlist-form-container,
.gift-form-container {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}

.wishlist-create .wrapper,
.wishlist-update .wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.wishlist-form-info,
.wishlist-form-settings,
.wishlist-form-notifications {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.wishlist-form-info label {
    padding-left: 10px;
}

.wishlist-form-settings > div {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.wishlist-form-notifications > div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.reserved-gifts-display-choice, 
.wishlist-visibility-choice {
    display: flex;
    align-items: center;
    gap: 10px;
}

.form-fields-main {
    display: flex;
    gap: 20px;
}

.form-fields-main input {
    display: flex;
    gap: 20px;
}

.form-fields-description {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.form-fields-description {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.form-fields-description textarea {
    width: 700px;
    height: 90px;
}

@media(max-width: 768px) {
    .form-fields-main {
        flex-direction: column;
    }
}

@media(max-width: 360px) {
    .price-container {
        gap: 10px;
    }

    h1 {
        text-align: center;
    }

    .button {
        align-self: center;
    }
}