section .wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-height: 100vh;
}

.wishlists-controls {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.wishlists-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.wishlists-sort {
    display: flex;
    align-items: center;
    gap: 5px;
}

.wishlists-container {
    display: grid;
    grid-template-columns: repeat(3, 386px);
    gap: 20px;
}

.wishlist {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 20px;
}

.wishlist-info {
    display: flex;
    flex-direction: column;
}

.wishlist-header {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.reserved-gifts-counter {
    display: flex;
    gap: 5px;
    align-items: end;
    align-self: flex-end;
}

.wishlist-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 20px;
    width: 100%;
    position: relative;
}

.wishlist-items:hover {
    scale: 1.05;
    transition: 300ms;
}

.wishlist-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--outline-and-border-color);
    border-radius: 20px;
    width: 100%;
    height: 102px;
    position: relative;
}

.wishlist-item-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.wishlist-item-default {
    height: auto;
    width: auto;
}

.wishlists-owner {
    display: flex;
    align-items: center;
    gap: 20px;
}

.wishlists-owner img {
    width: 200px;
    height: 200px;
}

.wishlists-owner-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media(max-width: 1200px) {
    .wishlists-container {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

@media(max-width: 768px) {
    .wishlists-controls {
        align-items: start;
        flex-direction: column;
        gap: 20px;
    }
}

@media(max-width: 360px) {
    .wishlists .wrapper h1 {
        align-self: center;
    }
    
    .wishlists-owner {
        flex-wrap: wrap;
        justify-content: center;
    }

    .wishlists-owner-info {
        align-items: center;
    }

    .wishlists-controls {
        align-items: center;
    }

    .wishlists-content h2 {
        align-self: center;
    }

    .wishlists-sort {
        align-self: center;
    }
}